<div class="message-container">
  <div [ngClass]="{'own-message': isMessageOwnMessage, 'receiving-message': !isMessageOwnMessage}">
    <div *ngIf="!isEditing">
      <div class="message-sender">{{ message.senderName }}</div>
      <div class="message-content">{{ message.payload }}</div>
  <div *ngIf="isOwnMessage">
    <button type="button" (click)="editMessage()">Edit</button>
    <button type="button" (click)="deleteMessage()">Delete</button>
  </div>
</div>
<div *ngIf="isEditing">
  <div *ngIf="isOwnMessage">
    <textarea [(ngModel)]="updatedContent"></textarea>
    <button type="button" (click)="updateMessage()">Update</button>
    <button type="button" (click)="cancelEdit()">Cancel</button>
  </div>
</div>
  </div>
</div>
