<div class="message-container">
  <div [ngClass]="{'own-message': isMessageOwnMessage, 'receiving-message': !isMessageOwnMessage}">
    <div *ngIf="!isEditing">
      <div class="message-sender">{{ message.senderName }}</div>
      <div class="message-content">{{ message.payload }}</div>
  <div *ngIf="isOwnMessage">
    <button type="button" (click)="editMessage()">Bearbeiten</button>
    <button type="button" (click)="deleteMessage()">Löschen</button>
  </div>
</div>
<div *ngIf="isEditing">
  <div *ngIf="isOwnMessage">
    <textarea [(ngModel)]="updatedContent"></textarea>
    <button type="button" (click)="updateMessage()">Ändern</button>
    <button type="button" (click)="cancelEdit()">Abbrechen</button>
  </div>
</div>
  </div>
</div>
