<mat-card class="app-tableview4">
  <h1>Anzahl der Arbeitslosen in der Städteregion Aachen</h1>
  <h2>Dateimanagement</h2>
  <div class="input-row">
    <mat-form-field>
      <mat-label>Eintrags-ID:</mat-label>
      <input matInput [(ngModel)]="entryData.id" name="EntryID"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Datum:</mat-label>
      <input matInput [(ngModel)]="entryData.datum" name="Datum"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Arbeitsuchende,Erwerbsfähige,Leistungsberechtigte(ELB):</mat-label>
      <input matInput [(ngModel)]="entryData.col1" name="Arbeitsuchende,Erwerbsfähige,Leistungsberechtigte(ELB)"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Männer:</mat-label>
      <input matInput [(ngModel)]="entryData.col2" name="Männer"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Frauen:</mat-label>
      <input matInput [(ngModel)]="entryData.col3" name="Frauen"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>unter 25 Jahren:</mat-label>
      <input matInput [(ngModel)]="entryData.col4" name="unter 25 Jahren"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>25 bis unter 55 Jahren:</mat-label>
      <input matInput [(ngModel)]="entryData.col5" name="25 bis unter 55 Jahren"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>55 Jahre und älter:</mat-label>
      <input matInput [(ngModel)]="entryData.col6" name="55 Jahre und älter"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Langzeitarbeitslose ELB:</mat-label>
      <input matInput [(ngModel)]="entryData.col7" name="Langzeitarbeitslose ELB"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Männer:</mat-label>
      <input matInput [(ngModel)]="entryData.col8" name="Männer"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Frauen:</mat-label>
      <input matInput [(ngModel)]="entryData.col9" name="Frauen"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>unter 25 Jahren:</mat-label>
      <input matInput [(ngModel)]="entryData.col10" name="Hochschulreife"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>25 bis unter 55 Jahren:</mat-label>
      <input matInput [(ngModel)]="entryData.col11" name="25 bis unter 55 Jahren"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>55 Jahre und älter:</mat-label>
      <input matInput [(ngModel)]="entryData.col12" name="55 Jahre und älter"/>
    </mat-form-field>
  </div>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="addEntry()">neuer Eintrag</button>
    <button mat-raised-button color="accent" (click)="updateEntry()">Eintrag aktualisieren</button>
    <button mat-raised-button color="warn" (click)="deleteEntry()">Eintrag löschen</button>
  </div>

  <h2>Hochladebereich</h2>
  <form id="upload-form" (submit)="uploadFile($event)">
    <div class="file-upload">
      <label>Wählen Sie eine Datei</label>
      <div class="file-input-container">
        <input type="file" name="file" id="file" accept=".csv">
        <button mat-raised-button type="submit" [disabled]="uploadButtonDisabled" >hochladen</button>
      </div>
    </div>
  </form>

  <div class="spacer"></div>

  <mat-form-field>
    <mat-label>Suche</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Geben Sie einen Suchbegriff ein">
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
           class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">
          ID
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.id}} </td>
      </ng-container>
      <ng-container matColumnDef="datum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Datum">
          Datum
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.datum}} </td>
      </ng-container>
      <ng-container matColumnDef="col1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col1">
          Arbeitsuchende,Erwerbsfähige,Leistungsberechtigte(ELB)
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col1}} </td>
      </ng-container>
      <ng-container matColumnDef="col2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col2">
          Männer
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col2}} </td>
      </ng-container>
      <ng-container matColumnDef="col3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col3">
          Frauen
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col3}} </td>
      </ng-container>
      <ng-container matColumnDef="col4">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col4">
          unter 25 Jahren
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col4}} </td>
      </ng-container>
      <ng-container matColumnDef="col5">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col5">
          25 bis unter 55 Jahren
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col5}} </td>
      </ng-container>
      <ng-container matColumnDef="col6">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col6">
          55 Jahre und älter
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col6}} </td>
      </ng-container>
      <ng-container matColumnDef="col7">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col7">
          Langzeitarbeitslose ELB
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col7}} </td>
      </ng-container>
      <ng-container matColumnDef="col8">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col8">
          Männer
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col8}} </td>
      </ng-container>
      <ng-container matColumnDef="col9">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col9">
          Frauen
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col9}} </td>
      </ng-container>
      <ng-container matColumnDef="col10">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col10">
          unter 25 Jahren
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col10}} </td>
      </ng-container>
      <ng-container matColumnDef="col11">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col11">
          25 bis unter 55 Jahren
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col11}} </td>
      </ng-container>
      <ng-container matColumnDef="col12">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col12">
          55 Jahre und älter
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col12}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[25,50,100, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</mat-card>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>


