<mat-card class="app-tableview2">
  <h1>Sterbefälle Aachen</h1>
  <div class="button-row">
    <mat-form-field>
      <mat-label>Wähle ein Jahr</mat-label>
      <mat-select (selectionChange)="onYearSelect($event.value)">
        <mat-option *ngFor="let entry of entries" [value]="entry.jahr">{{ entry.jahr }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="openPieChart()">Kuchendiagramm zeichnen</button>
    <button mat-raised-button color="primary" (click)="openBarChart()">Balkendiagramm zeichnen</button>
  </div>
  <mat-button-toggle-group (change)="toggleFav(data)">
    <mat-button-toggle [checked]="isInFavs(data)"> <!-- Überprüfen, ob der Datensatz ein Favorit ist -->
      <mat-icon>favorite</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [checked]="!isInFavs(data)" (click)="deleteFromFavs(data)"> <!-- Überprüfen, ob der Datensatz kein Favorit ist -->
      <mat-icon>favorite_border</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>


  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Enter search term">
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
           class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">
          ID
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.id}} </td>
      </ng-container>
      <ng-container matColumnDef="jahr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Jahr">
          Jahr
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.jahr}} </td>
      </ng-container>
      <ng-container matColumnDef="januar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Januar">
          Januar
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.januar}} </td>
      </ng-container>
      <ng-container matColumnDef="februar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Februar">
          Februar
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.februar}} </td>
      </ng-container>
      <ng-container matColumnDef="maerz">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by März">
          März
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.maerz}} </td>
      </ng-container>
      <ng-container matColumnDef="april">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by April">
          April
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.april}} </td>
      </ng-container>
      <ng-container matColumnDef="mai">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Mai">
          Mai
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.mai}} </td>
      </ng-container><ng-container matColumnDef="juni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Juni">
        Juni
      </th>
      <td mat-cell *matCellDef="let entry"> {{entry.juni}} </td>
    </ng-container><ng-container matColumnDef="juli">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Juli">
        Juli
      </th>
      <td mat-cell *matCellDef="let entry"> {{entry.juli}} </td>
    </ng-container><ng-container matColumnDef="august">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by August">
        August
      </th>
      <td mat-cell *matCellDef="let entry"> {{entry.august}} </td>
    </ng-container><ng-container matColumnDef="september">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by September">
        September
      </th>
      <td mat-cell *matCellDef="let entry"> {{entry.september}} </td>
    </ng-container><ng-container matColumnDef="oktober">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Oktober">
        Oktober
      </th>
      <td mat-cell *matCellDef="let entry"> {{entry.oktober}} </td>
    </ng-container><ng-container matColumnDef="november">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by November">
        November
      </th>
      <td mat-cell *matCellDef="let entry"> {{entry.november}} </td>
    </ng-container><ng-container matColumnDef="dezember">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Dezember">
        Dezember
      </th>
      <td mat-cell *matCellDef="let entry"> {{entry.dezember}} </td>
    </ng-container><ng-container matColumnDef="gesamt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Gesamt">
        Gesamt
      </th>
      <td mat-cell *matCellDef="let entry"> {{entry.gesamt}} </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[25,50,100, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</mat-card>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
