<mat-card class="app-tableview">
  <h1>Vornamen Aachen</h1>
  <h2>Datenverwaltung</h2>
  <div class="input-row">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="entryData.id" name="entryID" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Anzahl</mat-label>
      <input matInput type="number" [(ngModel)]="entryData.anzahl" name="anzahl" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Vorname</mat-label>
      <input matInput [(ngModel)]="entryData.vorname" name="vorname"  />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Geschlecht</mat-label>
      <input matInput [(ngModel)]="entryData.geschlecht" name="geschlecht"  />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Position</mat-label>
      <input matInput type="number" [(ngModel)]="entryData.position" name="position"  />
    </mat-form-field>
  </div>

  <div class="button-row">
    <button mat-raised-button color="primary" (click)="addEntry()">neuer Eintrag</button>
    <button mat-raised-button color="accent" (click)="updateEntry()">Eintrag aktualisieren</button>
    <button mat-raised-button color="warn" (click)="deleteEntry()">Eintrag löschen</button>
  </div>

  <h2>Hochladebereich</h2>
  <form id="upload-form" (submit)="uploadFile($event)">
    <div class="file-upload">
      <label>Wählen Sie eine Datei</label>
      <div class="file-input-container">
        <input type="file" name="file" id="file" accept=".csv">
        <button mat-raised-button type="submit" [disabled]="uploadButtonDisabled" >hochladen</button>
      </div>
    </div>
  </form>

  <div class="spacer"></div>

  <mat-form-field>
    <mat-label>Suche</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Geben Sie einen Suchbegriff ein">
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
           class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">
          ID
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.id}} </td>
      </ng-container>
      <ng-container matColumnDef="anzahl">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Anzahl">
          Anzahl
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.anzahl}} </td>
      </ng-container>
      <ng-container matColumnDef="vorname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Vorname">
          Vorname
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.vorname}} </td>
      </ng-container>
      <ng-container matColumnDef="geschlecht">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Geschlecht">
          Geschlecht
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.geschlecht}} </td>
      </ng-container>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Position">
          Position
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.position}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[25,50,100, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</mat-card>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
