<mat-card class="app-tableview5">
  <h1>Mittlere Jahresbevölkerung nach Geschlecht - kreisfreieStädte und Kreise - Jahr (ab 1975)</h1>
  <h2>Datenverwaltung</h2>
  <div class="input-row">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="entryData.id" name="ID" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jahr</mat-label>
      <input matInput [(ngModel)]="entryData.jahr" name="Jahr" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bundesland</mat-label>
      <input matInput type="text" [(ngModel)]="entryData.state" name="Bundesland" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bezirk</mat-label>
      <input matInput type = "text"[(ngModel)]="entryData.bezirk" name="Bezirk"  />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Stadt</mat-label>
      <input matInput type="text"[(ngModel)]="entryData.city" name="Stadt"  />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Anzahl Frauen</mat-label>
      <input matInput type="number" [(ngModel)]="entryData.amountFemale" name="Anzahl Frauen"  />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Anzahl Männer</mat-label>
      <input matInput type="number" [(ngModel)]="entryData.amountMale" name="Anzahl Männer"  />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Gesamtanzahl</mat-label>
      <input matInput type="number" [(ngModel)]="entryData.amountAll" name="Gesamtanzahl"  />
    </mat-form-field>
  </div>

  <div class="button-row">
    <button mat-raised-button color="primary" (click)="addEntry()">Eintrag hinzufügen</button>
    <button mat-raised-button color="accent" (click)="updateEntry()">Eintrag aktualisieren</button>
    <button mat-raised-button color="warn" (click)="deleteEntry()">Eintrag löschen</button>
  </div>

  <h2>Hochladebereich</h2>
  <form id="upload-form" (submit)="uploadFile($event)">
    <div class="file-upload">
      <label>Wählen Sie eine Datei</label>
      <div class="file-input-container">
        <input type="file" name="file" id="file" accept=".csv">
        <button mat-raised-button type="submit" [disabled]="uploadButtonDisabled" >hochladen</button>
      </div>
    </div>
  </form>

  <div class="spacer"></div>
  <mat-form-field>
    <mat-label>Suche</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Suchbegriff eingeben">
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
           class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">
          ID
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.id}} </td>
      </ng-container>
      <ng-container matColumnDef="jahr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Jahr">
          Jahr
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.jahr}} </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by state">
          Bundesland
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.state}} </td>
      </ng-container>
      <ng-container matColumnDef="bezirk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by bezirk">
          Bezirk
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.bezirk}} </td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by city">
          Stadt
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.city}} </td>
      </ng-container>
      <ng-container matColumnDef="amountFemale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amountFemale">
          Anzahl Frauen
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.amountFemale}} </td>
      </ng-container>
      <ng-container matColumnDef="amountMale">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amountMale">
          Anzahl Männer
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.amountMale}} </td>
      </ng-container><ng-container matColumnDef="amountAll">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by amountAll">
        Gesamtanzahl
      </th>
      <td mat-cell *matCellDef="let entry"> {{entry.amountAll}} </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[25,50,100, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</mat-card>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
