<mat-card class="app-tableview3">
  <h1>Anzahl der Arbeitssuchenden in der Städteregion Aachen</h1>
  <div class="button-row">
    <mat-form-field>
      <mat-label>Wähle ein Datum</mat-label>
      <mat-select (selectionChange)="onDateSelect($event.value)">
        <mat-option *ngFor="let entry of entries" [value]="entry.datum">{{ entry.datum}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="openBarChart()">Balkendiagramm zeichnen</button>
    <button mat-raised-button color="primary" (click)="openTreeMap()">Treemap zeichnen</button>
  </div>
  <mat-button-toggle-group (change)="toggleFav(data)">
    <mat-button-toggle [checked]="isInFavs(data)"> <!-- Überprüfen, ob der Datensatz ein Favorit ist -->
      <mat-icon>favorite</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [checked]="!isInFavs(data)" (click)="deleteFromFavs(data)"> <!-- Überprüfen, ob der Datensatz kein Favorit ist -->
      <mat-icon>favorite_border</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>


  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (input)="applyFilter($event)" placeholder="Enter search term">
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
           class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID">
          ID
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.id}} </td>
      </ng-container>
      <ng-container matColumnDef="datum">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Datum">
          Datum
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.datum}} </td>
      </ng-container>
      <ng-container matColumnDef="col1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col1">
          Arbeitsuchende,Erwerbsfähige,Leistungsberechtigte(ELB)
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col1}} </td>
      </ng-container>
      <ng-container matColumnDef="col2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col2">
          Ohne abgeschlossene Berufsausbildung
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col2}} </td>
      </ng-container>
      <ng-container matColumnDef="col3">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col3">
          Betriebliche/schulische Ausbildung
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col3}} </td>
      </ng-container>
      <ng-container matColumnDef="col4">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col4">
          Akademische Ausbildung
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col4}} </td>
      </ng-container>
      <ng-container matColumnDef="col5">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col5">
          Ohne Angabe
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col5}} </td>
      </ng-container>
      <ng-container matColumnDef="col6">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col6">
          Kein Hauptschulabschluss
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col6}} </td>
      </ng-container>
      <ng-container matColumnDef="col7">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col7">
          Hauptschulabschluss
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col7}} </td>
      </ng-container>
      <ng-container matColumnDef="col8">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col8">
          Mittlere Reife
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col8}} </td>
      </ng-container>
      <ng-container matColumnDef="col9">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col9">
          Fachhochschulreife
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col9}} </td>
      </ng-container>
      <ng-container matColumnDef="col10">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col10">
          Abitur/Hochschulreife
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col10}} </td>
      </ng-container>
      <ng-container matColumnDef="col11">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col11">
          Ohne Angabe
        </th>
        <td mat-cell *matCellDef="let entry"> {{entry.col11}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[25,50,100, dataSource.data.length]" showFirstLastButtons></mat-paginator>
</mat-card>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="spacer"></div>



