<div class="chat-column">
  <div *ngFor="let chatroom of chatRooms" class="chat-entry" [class.selected]="chatroom.id === activeChatroomId" (click)="selectChatroom(chatroom)">
    <div class="chat-entry-content">
      <img src="./assets/defaultpfp/defaultpfp.jpg" class="resized-image">
      <span class="chatroom-name">{{ chatroom.name }}</span>
    </div>
    <div class="menu-list">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngIf="chatroom.id !== null" (click)="renameChatRoom(chatroom.id)">
          <mat-icon>text_format</mat-icon>
          <span>Rename Chat</span>
        </button>
        <button mat-menu-item *ngIf="chatroom.id" (click)="deleteChatRoom(chatroom.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete Chat</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
